body {
    height: 100%;
    position: relative;
}

.main__content {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 27px;
    margin-bottom: 150px;
}

.layout {
    position: relative;
    display: flex;
    flex-direction: row;
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.596) 0%, #af6095e6 100%), url('./img/music-main-bg.png') ;
    background-size: cover;
}

.bodyLayout {
    position: inherit;

}