.main__content {
    position: relative;
    display: flex;
    flex-grow: 1;
    height: 100vh;
    gap: 10px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 27px;
    background: url('./img/music-main-bg.png') no-repeat;
    background-size: cover;
}

.layout {
    position: relative;
    height: 100%;
}