#root {
  background: radial-gradient(rgba(255, 255, 255, 0.104), rgb(255, 255, 255)), url(../src/components/App/img/music-main-bg.png);
  background-position: top;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.layout {
  background-color: unset;
}